<!DOCTYPE html>
<html>
  <head>
    <title>Anis' Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        font-family: 'Arial, sans-serif';
        background-color: #fdf7f2; /* Light cream background */
        color: #5d5c61; /* Soft grey for text */
        margin: 0;
        padding: 0;
      }
      header {
        background: #ffb3ba; /* Pastel pink */
        color: #fff;
        padding: 20px 0;
        text-align: center;
      }
      header h1 {
        margin: 0;
        font-size: 2.5em;
      }
      header p {
        margin: 0;
        font-size: 1.2em;
      }
      nav {
        margin: 10px 0;
      }
      nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        display: inline-block;
        transition: background 0.3s;
      }
      nav a:hover {
        background: #ffdfd6; /* Lighter pastel pink */
      }
      main {
        padding: 20px;
        max-width: 800px;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px; /* Rounded corners for a softer look */
      }
      footer {
        text-align: center;
        padding: 10px 0;
        background: #ffb3ba; /* Pastel pink */
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Anis' Blog</h1>
      <p>Welcome to My Blog</p>
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Search", search_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Login", articles_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.now.year %> Anis' Blog. All rights reserved.</p>
    </footer>
  </body>
</html>
